.chat {
  display: flex;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  height: calc(100vh - 48px);

  &-sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 464px;
    max-width: 464px;
    flex-shrink: 0;
    border-right: 1px solid $gray;

    &__header {
      background-color: $primary;
      padding: 16px 32px 16px 16px;
    }

    &__content {
      display: none;
      flex-direction: column;
      padding: 48px 24px;
      height: 100%;
      flex-shrink: 0;

      &-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
      }
    }

    &__contacts {
      overflow-y: auto;
      overflow-x: hidden;
      padding: 0 2px 3px;
      margin: 0 -2px;

      &--chats {
        margin-top: 48px;
      }
    }
  }

  &-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
}

.welcome.profile {
  margin: 88px 0;

  .welcome__img {
    width: 90px;
    height: 90px;
    margin-bottom: 8px;
  }

  .welcome__h4 {
    color: #212529;
    margin: 0 0 24px;
  }

  .welcome__span {
    font-size: 16px;
    line-height: 24px;
  }
}

.contacts {
  margin: 0 16px;

  &__contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid $gray;
    font-size: 14px;
    line-height: 21px;
    color: #212529;

    span {
      color: rgba(0 0 0 / 50%);
    }

    a {
      text-decoration: none;
      color: #212529;
    }

    div {
      display: flex;
      flex-direction: column;
    }
  }
}