@media screen and (max-width: 1000px) {
   #index,
   #chat {
      .h1 {
         font-size: 25px;
         line-height: 30px;
      }
   
      .wrapper {
         padding: 0;
      }

      .header {
         &__span {
            display: none;
         }
         &__li {
            &--chat {
               display: block;
            }
         }
      }
   
      .chat {
         border-radius: 0;
         height: 100vh;

         &-sidebar {
            max-width: 100%;
            flex-basis: 100%;
            border: none;

            &__header {
               order: 1;
            }

            &__content-container {
               flex-grow: 1;
            }
         }
      }

      .mobile {
         display: block;
      }

      .no-mobile {
         display: none;
      }
   }

   #index {
      .chat {
         &-content {
            display: none;
         }
      }
   }

   #chat {
      .dialog {
         display: none;
         padding: 0;

         &__header {
            margin-right: 0;
            padding: 21px 0 22px 16px;
         }
      }

      .message {
         &__avatar {
            display: none;
         }
         &__content {
            margin: 0;
            padding: 24px 24px 23px;
         }
         &__text {
            font-size: 15px;
         }

         & + .message {
            margin-top: 15px;
         }
      }

      .typing {
         margin: 0;

         &__textarea {
            padding: 23px 99px 0 24px;
         }

         &__send {
            right: 16px;
            img {
               width: 42px;
               height: 42px;
            }
         }
      }

      // #current-chat .h4 {
      //    letter-spacing: 0.4px;
      //    span {
      //       letter-spacing: normal;
      //    }
      // }
   }
}

@media screen and (min-width: 1000px) {
   #chat {
      #current-chat {
         display: none;
      }
   }

   .mobile {
      display: none;
   }
}