.ml-auto {
   margin-left: auto !important;
}

.bg-primary {
   background-color: $primary !important;
}

.color-light {
   color: $light !important;
}

.color-white-60 {
   color: rgba(255 255 255 / 0.6) !important;
}

.bg-gray-60 {
   background-color: rgba($gray, 0.6) !important;
}