.ml-auto {
  margin-left: auto;
}

.bg-primary {
  background-color: $primary;
}

.color-light {
  color: $light;
}

.color-white-60 {
  color: rgba(255 255 255 / 0.6);
}

.bg-gray-60 {
  background-color: rgba($gray, 0.6);
}